usr/local/lib/cgit/filters/about-formatting.sh
usr/local/lib/cgit/filters/commit-links.sh
usr/local/lib/cgit/filters/email-gravatar.lua
usr/local/lib/cgit/filters/email-gravatar.py
usr/local/lib/cgit/filters/email-libravatar.lua
usr/local/lib/cgit/filters/file-authentication.lua
usr/local/lib/cgit/filters/gentoo-ldap-authentication.lua
usr/local/lib/cgit/filters/html-converters/man2html
usr/local/lib/cgit/filters/html-converters/md2html
usr/local/lib/cgit/filters/html-converters/rst2html
usr/local/lib/cgit/filters/html-converters/txt2html
usr/local/lib/cgit/filters/owner-example.lua
usr/local/lib/cgit/filters/simple-authentication.lua
usr/local/lib/cgit/filters/syntax-highlighting.py
usr/local/lib/cgit/filters/syntax-highlighting.sh
var/www/htdocs/cgit/cgit.cgi*
var/www/htdocs/cgit/cgit.css
var/www/htdocs/cgit/cgit.png
var/www/htdocs/cgit/favicon.ico
var/www/htdocs/cgit/robots.txt
