$ tree -alifF
./
./usr/
./usr/local/
./usr/local/bin/
./usr/local/bin/addr2line*
./usr/local/bin/ar*
./usr/local/bin/as*
./usr/local/bin/c++filt*
./usr/local/bin/elfedit*
./usr/local/bin/gcore*
./usr/local/bin/gdb*
./usr/local/bin/gdb-add-index*
./usr/local/bin/gdbserver*
./usr/local/bin/gp-archive*
./usr/local/bin/gp-collect-app*
./usr/local/bin/gp-display-html*
./usr/local/bin/gp-display-src*
./usr/local/bin/gp-display-text*
./usr/local/bin/gprof*
./usr/local/bin/gprofng*
./usr/local/bin/ld*
./usr/local/bin/ld.bfd*
./usr/local/bin/nm*
./usr/local/bin/objcopy*
./usr/local/bin/objdump*
./usr/local/bin/ranlib*
./usr/local/bin/readelf*
./usr/local/bin/size*
./usr/local/bin/strings*
./usr/local/bin/strip*
./usr/local/etc/
./usr/local/etc/gprofng.rc
./usr/local/include/
./usr/local/include/ansidecl.h
./usr/local/include/bfd.h
./usr/local/include/bfdlink.h
./usr/local/include/collectorAPI.h
./usr/local/include/ctf-api.h
./usr/local/include/ctf.h
./usr/local/include/diagnostics.h
./usr/local/include/dis-asm.h
./usr/local/include/gdb/
./usr/local/include/gdb/jit-reader.h
./usr/local/include/libcollector.h
./usr/local/include/libfcollector.h
./usr/local/include/plugin-api.h
./usr/local/include/sframe-api.h
./usr/local/include/sframe.h
./usr/local/include/sim/
./usr/local/include/symcat.h
./usr/local/lib/
./usr/local/lib/bfd-plugins/
./usr/local/lib/bfd-plugins/libdep.so*
./usr/local/lib/gprofng/
./usr/local/lib/gprofng/libgp-collectorAPI.a
./usr/local/lib/gprofng/libgp-collectorAPI.la*
./usr/local/lib/gprofng/libgp-collectorAPI.so*
./usr/local/lib/gprofng/libgp-collector.so*
./usr/local/lib/gprofng/libgp-heap.so*
./usr/local/lib/gprofng/libgp-iotrace.so*
./usr/local/lib/gprofng/libgp-sync.so*
./usr/local/lib/libbfd.a
./usr/local/lib/libbfd.la*
./usr/local/lib/libctf.a
./usr/local/lib/libctf.la*
./usr/local/lib/libctf-nobfd.a
./usr/local/lib/libctf-nobfd.la*
./usr/local/lib/libgprofng.a
./usr/local/lib/libgprofng.la*
./usr/local/lib/libinproctrace.so*
./usr/local/lib/libopcodes.a
./usr/local/lib/libopcodes.la*
./usr/local/lib/libsframe.a
./usr/local/lib/libsframe.la*
./usr/local/share/
./usr/local/share/gdb/
./usr/local/share/gdb/guile/
./usr/local/share/gdb/guile/gdb/
./usr/local/share/gdb/guile/gdb/boot.scm
./usr/local/share/gdb/guile/gdb/experimental.go
./usr/local/share/gdb/guile/gdb/experimental.scm
./usr/local/share/gdb/guile/gdb/init.scm
./usr/local/share/gdb/guile/gdb/iterator.go
./usr/local/share/gdb/guile/gdb/iterator.scm
./usr/local/share/gdb/guile/gdb/printing.go
./usr/local/share/gdb/guile/gdb/printing.scm
./usr/local/share/gdb/guile/gdb/support.go
./usr/local/share/gdb/guile/gdb/support.scm
./usr/local/share/gdb/guile/gdb/types.go
./usr/local/share/gdb/guile/gdb/types.scm
./usr/local/share/gdb/guile/gdb.go
./usr/local/share/gdb/guile/gdb.scm
./usr/local/share/gdb/python/
./usr/local/share/gdb/python/gdb/
./usr/local/share/gdb/python/gdb/command/
./usr/local/share/gdb/python/gdb/command/explore.py
./usr/local/share/gdb/python/gdb/command/frame_filters.py
./usr/local/share/gdb/python/gdb/command/__init__.py
./usr/local/share/gdb/python/gdb/command/missing_debug.py
./usr/local/share/gdb/python/gdb/command/pretty_printers.py
./usr/local/share/gdb/python/gdb/command/prompt.py
./usr/local/share/gdb/python/gdb/command/type_printers.py
./usr/local/share/gdb/python/gdb/command/unwinders.py
./usr/local/share/gdb/python/gdb/command/xmethods.py
./usr/local/share/gdb/python/gdb/dap/
./usr/local/share/gdb/python/gdb/dap/breakpoint.py
./usr/local/share/gdb/python/gdb/dap/bt.py
./usr/local/share/gdb/python/gdb/dap/disassemble.py
./usr/local/share/gdb/python/gdb/dap/evaluate.py
./usr/local/share/gdb/python/gdb/dap/events.py
./usr/local/share/gdb/python/gdb/dap/frames.py
./usr/local/share/gdb/python/gdb/dap/globalvars.py
./usr/local/share/gdb/python/gdb/dap/__init__.py
./usr/local/share/gdb/python/gdb/dap/io.py
./usr/local/share/gdb/python/gdb/dap/launch.py
./usr/local/share/gdb/python/gdb/dap/locations.py
./usr/local/share/gdb/python/gdb/dap/memory.py
./usr/local/share/gdb/python/gdb/dap/modules.py
./usr/local/share/gdb/python/gdb/dap/next.py
./usr/local/share/gdb/python/gdb/dap/pause.py
./usr/local/share/gdb/python/gdb/dap/scopes.py
./usr/local/share/gdb/python/gdb/dap/server.py
./usr/local/share/gdb/python/gdb/dap/sources.py
./usr/local/share/gdb/python/gdb/dap/startup.py
./usr/local/share/gdb/python/gdb/dap/state.py
./usr/local/share/gdb/python/gdb/dap/threads.py
./usr/local/share/gdb/python/gdb/dap/typecheck.py
./usr/local/share/gdb/python/gdb/dap/varref.py
./usr/local/share/gdb/python/gdb/disassembler.py
./usr/local/share/gdb/python/gdb/FrameDecorator.py
./usr/local/share/gdb/python/gdb/FrameIterator.py
./usr/local/share/gdb/python/gdb/frames.py
./usr/local/share/gdb/python/gdb/function/
./usr/local/share/gdb/python/gdb/function/as_string.py
./usr/local/share/gdb/python/gdb/function/caller_is.py
./usr/local/share/gdb/python/gdb/function/__init__.py
./usr/local/share/gdb/python/gdb/function/strfns.py
./usr/local/share/gdb/python/gdb/__init__.py
./usr/local/share/gdb/python/gdb/missing_debug.py
./usr/local/share/gdb/python/gdb/printer/
./usr/local/share/gdb/python/gdb/printer/bound_registers.py
./usr/local/share/gdb/python/gdb/printer/__init__.py
./usr/local/share/gdb/python/gdb/printing.py
./usr/local/share/gdb/python/gdb/prompt.py
./usr/local/share/gdb/python/gdb/styling.py
./usr/local/share/gdb/python/gdb/types.py
./usr/local/share/gdb/python/gdb/unwinder.py
./usr/local/share/gdb/python/gdb/xmethod.py
./usr/local/share/gdb/syscalls/
./usr/local/share/gdb/syscalls/aarch64-linux.xml
./usr/local/share/gdb/syscalls/amd64-linux.xml
./usr/local/share/gdb/syscalls/arm-linux.xml
./usr/local/share/gdb/syscalls/freebsd.xml
./usr/local/share/gdb/syscalls/gdb-syscalls.dtd
./usr/local/share/gdb/syscalls/i386-linux.xml
./usr/local/share/gdb/syscalls/loongarch-linux.xml
./usr/local/share/gdb/syscalls/mips-n32-linux.xml
./usr/local/share/gdb/syscalls/mips-n64-linux.xml
./usr/local/share/gdb/syscalls/mips-o32-linux.xml
./usr/local/share/gdb/syscalls/netbsd.xml
./usr/local/share/gdb/syscalls/ppc64-linux.xml
./usr/local/share/gdb/syscalls/ppc-linux.xml
./usr/local/share/gdb/syscalls/s390-linux.xml
./usr/local/share/gdb/syscalls/s390x-linux.xml
./usr/local/share/gdb/syscalls/sparc64-linux.xml
./usr/local/share/gdb/syscalls/sparc-linux.xml
./usr/local/share/gdb/system-gdbinit/
./usr/local/share/gdb/system-gdbinit/elinos.py
./usr/local/share/gdb/system-gdbinit/wrs-linux.py
./usr/local/share/info/
./usr/local/share/info/annotate.info
./usr/local/share/info/as.info
./usr/local/share/info/bfd.info
./usr/local/share/info/binutils.info
./usr/local/share/info/ctf-spec.info
./usr/local/share/info/dir
./usr/local/share/info/gdb.info
./usr/local/share/info/gprof.info
./usr/local/share/info/gprofng.info
./usr/local/share/info/ld.info
./usr/local/share/info/ldint.info
./usr/local/share/info/sframe-spec.info
./usr/local/share/info/stabs.info
./usr/local/share/locale/
./usr/local/share/locale/bg/
./usr/local/share/locale/bg/LC_MESSAGES/
./usr/local/share/locale/bg/LC_MESSAGES/binutils.mo
./usr/local/share/locale/bg/LC_MESSAGES/gprof.mo
./usr/local/share/locale/bg/LC_MESSAGES/ld.mo
./usr/local/share/locale/ca/
./usr/local/share/locale/ca/LC_MESSAGES/
./usr/local/share/locale/ca/LC_MESSAGES/binutils.mo
./usr/local/share/locale/da/
./usr/local/share/locale/da/LC_MESSAGES/
./usr/local/share/locale/da/LC_MESSAGES/bfd.mo
./usr/local/share/locale/da/LC_MESSAGES/binutils.mo
./usr/local/share/locale/da/LC_MESSAGES/gprof.mo
./usr/local/share/locale/da/LC_MESSAGES/ld.mo
./usr/local/share/locale/da/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/de/
./usr/local/share/locale/de/LC_MESSAGES/
./usr/local/share/locale/de/LC_MESSAGES/gprof.mo
./usr/local/share/locale/de/LC_MESSAGES/ld.mo
./usr/local/share/locale/de/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/eo/
./usr/local/share/locale/eo/LC_MESSAGES/
./usr/local/share/locale/eo/LC_MESSAGES/gprof.mo
./usr/local/share/locale/es/
./usr/local/share/locale/es/LC_MESSAGES/
./usr/local/share/locale/es/LC_MESSAGES/bfd.mo
./usr/local/share/locale/es/LC_MESSAGES/binutils.mo
./usr/local/share/locale/es/LC_MESSAGES/gas.mo
./usr/local/share/locale/es/LC_MESSAGES/gprof.mo
./usr/local/share/locale/es/LC_MESSAGES/ld.mo
./usr/local/share/locale/es/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/fi/
./usr/local/share/locale/fi/LC_MESSAGES/
./usr/local/share/locale/fi/LC_MESSAGES/bfd.mo
./usr/local/share/locale/fi/LC_MESSAGES/binutils.mo
./usr/local/share/locale/fi/LC_MESSAGES/gas.mo
./usr/local/share/locale/fi/LC_MESSAGES/gprof.mo
./usr/local/share/locale/fi/LC_MESSAGES/ld.mo
./usr/local/share/locale/fi/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/fr/
./usr/local/share/locale/fr/LC_MESSAGES/
./usr/local/share/locale/fr/LC_MESSAGES/bfd.mo
./usr/local/share/locale/fr/LC_MESSAGES/binutils.mo
./usr/local/share/locale/fr/LC_MESSAGES/gas.mo
./usr/local/share/locale/fr/LC_MESSAGES/gprof.mo
./usr/local/share/locale/fr/LC_MESSAGES/ld.mo
./usr/local/share/locale/fr/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/ga/
./usr/local/share/locale/ga/LC_MESSAGES/
./usr/local/share/locale/ga/LC_MESSAGES/gprof.mo
./usr/local/share/locale/ga/LC_MESSAGES/ld.mo
./usr/local/share/locale/ga/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/hr/
./usr/local/share/locale/hr/LC_MESSAGES/
./usr/local/share/locale/hr/LC_MESSAGES/bfd.mo
./usr/local/share/locale/hr/LC_MESSAGES/binutils.mo
./usr/local/share/locale/hu/
./usr/local/share/locale/hu/LC_MESSAGES/
./usr/local/share/locale/hu/LC_MESSAGES/gprof.mo
./usr/local/share/locale/id/
./usr/local/share/locale/id/LC_MESSAGES/
./usr/local/share/locale/id/LC_MESSAGES/bfd.mo
./usr/local/share/locale/id/LC_MESSAGES/binutils.mo
./usr/local/share/locale/id/LC_MESSAGES/gas.mo
./usr/local/share/locale/id/LC_MESSAGES/gprof.mo
./usr/local/share/locale/id/LC_MESSAGES/ld.mo
./usr/local/share/locale/id/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/it/
./usr/local/share/locale/it/LC_MESSAGES/
./usr/local/share/locale/it/LC_MESSAGES/binutils.mo
./usr/local/share/locale/it/LC_MESSAGES/gprof.mo
./usr/local/share/locale/it/LC_MESSAGES/ld.mo
./usr/local/share/locale/it/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/ja/
./usr/local/share/locale/ja/LC_MESSAGES/
./usr/local/share/locale/ja/LC_MESSAGES/bfd.mo
./usr/local/share/locale/ja/LC_MESSAGES/binutils.mo
./usr/local/share/locale/ja/LC_MESSAGES/gas.mo
./usr/local/share/locale/ja/LC_MESSAGES/gprof.mo
./usr/local/share/locale/ja/LC_MESSAGES/ld.mo
./usr/local/share/locale/ka/
./usr/local/share/locale/ka/LC_MESSAGES/
./usr/local/share/locale/ka/LC_MESSAGES/bfd.mo
./usr/local/share/locale/ka/LC_MESSAGES/gprof.mo
./usr/local/share/locale/ka/LC_MESSAGES/ld.mo
./usr/local/share/locale/ms/
./usr/local/share/locale/ms/LC_MESSAGES/
./usr/local/share/locale/ms/LC_MESSAGES/gprof.mo
./usr/local/share/locale/nl/
./usr/local/share/locale/nl/LC_MESSAGES/
./usr/local/share/locale/nl/LC_MESSAGES/gprof.mo
./usr/local/share/locale/nl/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/pt/
./usr/local/share/locale/pt/LC_MESSAGES/
./usr/local/share/locale/pt/LC_MESSAGES/bfd.mo
./usr/local/share/locale/pt/LC_MESSAGES/binutils.mo
./usr/local/share/locale/pt_BR/
./usr/local/share/locale/pt_BR/LC_MESSAGES/
./usr/local/share/locale/pt_BR/LC_MESSAGES/gprof.mo
./usr/local/share/locale/pt_BR/LC_MESSAGES/ld.mo
./usr/local/share/locale/pt_BR/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/ro/
./usr/local/share/locale/ro/LC_MESSAGES/
./usr/local/share/locale/ro/LC_MESSAGES/bfd.mo
./usr/local/share/locale/ro/LC_MESSAGES/binutils.mo
./usr/local/share/locale/ro/LC_MESSAGES/gas.mo
./usr/local/share/locale/ro/LC_MESSAGES/gprof.mo
./usr/local/share/locale/ro/LC_MESSAGES/ld.mo
./usr/local/share/locale/ro/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/ru/
./usr/local/share/locale/ru/LC_MESSAGES/
./usr/local/share/locale/ru/LC_MESSAGES/bfd.mo
./usr/local/share/locale/ru/LC_MESSAGES/binutils.mo
./usr/local/share/locale/ru/LC_MESSAGES/gas.mo
./usr/local/share/locale/ru/LC_MESSAGES/gprof.mo
./usr/local/share/locale/ru/LC_MESSAGES/ld.mo
./usr/local/share/locale/rw/
./usr/local/share/locale/rw/LC_MESSAGES/
./usr/local/share/locale/rw/LC_MESSAGES/bfd.mo
./usr/local/share/locale/rw/LC_MESSAGES/binutils.mo
./usr/local/share/locale/rw/LC_MESSAGES/gas.mo
./usr/local/share/locale/rw/LC_MESSAGES/gprof.mo
./usr/local/share/locale/sk/
./usr/local/share/locale/sk/LC_MESSAGES/
./usr/local/share/locale/sk/LC_MESSAGES/binutils.mo
./usr/local/share/locale/sr/
./usr/local/share/locale/sr/LC_MESSAGES/
./usr/local/share/locale/sr/LC_MESSAGES/bfd.mo
./usr/local/share/locale/sr/LC_MESSAGES/binutils.mo
./usr/local/share/locale/sr/LC_MESSAGES/gprof.mo
./usr/local/share/locale/sr/LC_MESSAGES/ld.mo
./usr/local/share/locale/sr/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/sv/
./usr/local/share/locale/sv/LC_MESSAGES/
./usr/local/share/locale/sv/LC_MESSAGES/bfd.mo
./usr/local/share/locale/sv/LC_MESSAGES/binutils.mo
./usr/local/share/locale/sv/LC_MESSAGES/gas.mo
./usr/local/share/locale/sv/LC_MESSAGES/gprof.mo
./usr/local/share/locale/sv/LC_MESSAGES/ld.mo
./usr/local/share/locale/sv/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/tr/
./usr/local/share/locale/tr/LC_MESSAGES/
./usr/local/share/locale/tr/LC_MESSAGES/bfd.mo
./usr/local/share/locale/tr/LC_MESSAGES/binutils.mo
./usr/local/share/locale/tr/LC_MESSAGES/gas.mo
./usr/local/share/locale/tr/LC_MESSAGES/gprof.mo
./usr/local/share/locale/tr/LC_MESSAGES/ld.mo
./usr/local/share/locale/tr/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/uk/
./usr/local/share/locale/uk/LC_MESSAGES/
./usr/local/share/locale/uk/LC_MESSAGES/bfd.mo
./usr/local/share/locale/uk/LC_MESSAGES/binutils.mo
./usr/local/share/locale/uk/LC_MESSAGES/gas.mo
./usr/local/share/locale/uk/LC_MESSAGES/gprof.mo
./usr/local/share/locale/uk/LC_MESSAGES/ld.mo
./usr/local/share/locale/uk/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/vi/
./usr/local/share/locale/vi/LC_MESSAGES/
./usr/local/share/locale/vi/LC_MESSAGES/bfd.mo
./usr/local/share/locale/vi/LC_MESSAGES/binutils.mo
./usr/local/share/locale/vi/LC_MESSAGES/gprof.mo
./usr/local/share/locale/vi/LC_MESSAGES/ld.mo
./usr/local/share/locale/vi/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/zh_CN/
./usr/local/share/locale/zh_CN/LC_MESSAGES/
./usr/local/share/locale/zh_CN/LC_MESSAGES/bfd.mo
./usr/local/share/locale/zh_CN/LC_MESSAGES/binutils.mo
./usr/local/share/locale/zh_CN/LC_MESSAGES/gas.mo
./usr/local/share/locale/zh_CN/LC_MESSAGES/ld.mo
./usr/local/share/locale/zh_CN/LC_MESSAGES/opcodes.mo
./usr/local/share/locale/zh_TW/
./usr/local/share/locale/zh_TW/LC_MESSAGES/
./usr/local/share/locale/zh_TW/LC_MESSAGES/binutils.mo
./usr/local/share/locale/zh_TW/LC_MESSAGES/ld.mo
./usr/local/share/man/
./usr/local/share/man/man1/
./usr/local/share/man/man1/addr2line.1
./usr/local/share/man/man1/ar.1
./usr/local/share/man/man1/as.1
./usr/local/share/man/man1/c++filt.1
./usr/local/share/man/man1/dlltool.1
./usr/local/share/man/man1/elfedit.1
./usr/local/share/man/man1/gcore.1
./usr/local/share/man/man1/gdb.1
./usr/local/share/man/man1/gdb-add-index.1
./usr/local/share/man/man1/gdbserver.1
./usr/local/share/man/man1/gp-archive.1
./usr/local/share/man/man1/gp-collect-app.1
./usr/local/share/man/man1/gp-display-html.1
./usr/local/share/man/man1/gp-display-src.1
./usr/local/share/man/man1/gp-display-text.1
./usr/local/share/man/man1/gprof.1
./usr/local/share/man/man1/gprofng.1
./usr/local/share/man/man1/ld.1
./usr/local/share/man/man1/nm.1
./usr/local/share/man/man1/objcopy.1
./usr/local/share/man/man1/objdump.1
./usr/local/share/man/man1/ranlib.1
./usr/local/share/man/man1/readelf.1
./usr/local/share/man/man1/size.1
./usr/local/share/man/man1/strings.1
./usr/local/share/man/man1/strip.1
./usr/local/share/man/man1/windmc.1
./usr/local/share/man/man1/windres.1
./usr/local/share/man/man5/
./usr/local/share/man/man5/gdbinit.5
./usr/local/x86_64-pc-linux-gnu/
./usr/local/x86_64-pc-linux-gnu/bin/
./usr/local/x86_64-pc-linux-gnu/bin/ar*
./usr/local/x86_64-pc-linux-gnu/bin/as*
./usr/local/x86_64-pc-linux-gnu/bin/ld*
./usr/local/x86_64-pc-linux-gnu/bin/ld.bfd*
./usr/local/x86_64-pc-linux-gnu/bin/nm*
./usr/local/x86_64-pc-linux-gnu/bin/objcopy*
./usr/local/x86_64-pc-linux-gnu/bin/objdump*
./usr/local/x86_64-pc-linux-gnu/bin/ranlib*
./usr/local/x86_64-pc-linux-gnu/bin/readelf*
./usr/local/x86_64-pc-linux-gnu/bin/strip*
./usr/local/x86_64-pc-linux-gnu/lib/
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.x
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xbn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xd
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xdc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xdce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xdcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xde
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xder
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xdw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xdwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xdwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xr
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xs
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xsc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xsce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xscer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xse
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xser
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xsw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xswe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xswer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xu
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf32_x86_64.xwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.x
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xbn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xd
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xdc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xdce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xdcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xde
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xder
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xdw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xdwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xdwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xr
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xs
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xsc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xsce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xscer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xse
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xser
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xsw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xswe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xswer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xu
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_i386.xwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.x
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xbn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xd
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xdc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xdce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xdcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xde
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xder
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xdw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xdwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xdwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xr
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xs
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xsc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xsce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xscer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xse
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xser
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xsw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xswe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xswer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xu
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_iamcu.xwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.x
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xbn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xd
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xdc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xdce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xdcer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xde
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xder
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xdw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xdwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xdwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xn
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xr
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xs
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xsc
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xsce
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xscer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xse
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xser
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xsw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xswe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xswer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xu
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xw
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xwe
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/elf_x86_64.xwer
./usr/local/x86_64-pc-linux-gnu/lib/ldscripts/stamp

92 directories, 437 files